:root {
    --clr-primary-50: #F9F7ED;
    --clr-primary-100: #F2ECCF;    
    --clr-primary-200: #E6D7A2;
    --clr-primary-300: #D7BC6D;
    --clr-primary-400: #CBA344;
    --clr-primary-500: #B68A35;
    --clr-primary-600: #92722A;
    --clr-primary-700: #7C5E24; 
    --clr-primary-800: #6C4527; 
    --clr-primary-900: #5D3B26; 
    --clr-primary-950: #361E12; 
    --clr-black-50: #F7F7F7;
    --clr-black-100: #E1E3E5;    
    --clr-black-200: #C3C6CB;
    --clr-black-300: #9EA2A9;
    --clr-black-400: #797E86;
    --clr-black-500: #5F646D;
    --clr-black-600: #4B4F58;
    --clr-black-700: #3E4046; 
    --clr-black-800: #232528; 
    --clr-black-900: #1B1D21; 
    --clr-black-950: #0E0F12; 
    --clr-slate-50: #F8FAFC;
    --clr-slate-100: #F1F5F9;    
    --clr-slate-200: #E2E8F0;
    --clr-slate-300: #CBD5E1;
    --clr-slate-400: #94A3B8;
    --clr-slate-500: #64748B;
    --clr-slate-600: #475569;
    --clr-slate-700: #334155; 
    --clr-slate-800: #1E293B; 
    --clr-slate-900: #0F172A; 
    --clr-slate-950: #020617; 
    --clr-info-50: #EFFAFF;
    --clr-info-100: #DEF3FF;    
    --clr-info-200: #B6EAFF;
    --clr-info-300: #75DBFF;
    --clr-info-400: #2CCAFF;
    --clr-info-500: #00ABEB;
    --clr-info-600: #0090D4;
    --clr-info-700: #0073AB; 
    --clr-info-800: #00608D; 
    --clr-info-900: #065074; 
    --clr-info-950: #04334D; 
    --clr-success-50: #F3FAF4;
    --clr-success-100: #E4F4E7;    
    --clr-success-200: #CAE8CF;
    --clr-success-300: #A0D5AB;
    --clr-success-400: #6FB97F;
    --clr-success-500: #4A9D5C;
    --clr-success-600: #3F8E50;
    --clr-success-700: #2F663C; 
    --clr-success-800: #2A5133; 
    --clr-success-900: #24432B; 
    --clr-success-950: #0F2415; 
    --clr-warning-50: #FFFBEB;
    --clr-warning-100: #FDF4C8;    
    --clr-warning-200: #FBE68C;
    --clr-warning-300: #FAD44F;
    --clr-warning-400: #F8C027;
    --clr-warning-500: #F29F0E;
    --clr-warning-600: #D67909;
    --clr-warning-700: #B2550B; 
    --clr-warning-800: #904110; 
    --clr-warning-900: #773610; 
    --clr-warning-950: #441B04; 
    --clr-caution-50: #FEF5EE;
    --clr-caution-100: #FCE9D8;    
    --clr-caution-200: #F9CFAF;
    --clr-caution-300: #F5AC7C;
    --clr-caution-400: #EF8048;
    --clr-caution-500: #EB5F24;
    --clr-caution-600: #E54B1D;
    --clr-caution-700: #B73417; 
    --clr-caution-800: #922B1A; 
    --clr-caution-900: #762518; 
    --clr-caution-950: #3F100B; 
    --clr-danger-50: #FEF2F2;
    --clr-danger-100: #FDE4E3;    
    --clr-danger-200: #FDCDCB;
    --clr-danger-300: #FAAAA7;
    --clr-danger-400: #F47A75;
    --clr-danger-500: #EA4F49;
    --clr-danger-600: #D83731;
    --clr-danger-700: #B52520; 
    --clr-danger-800: #95231F; 
    --clr-danger-900: #7C2320; 
    --clr-danger-950: #430E0C; 

    --aegov-font-size: 14px;
    --aegov-form-control-padding: 0.75em 1em;
    --header-bottom-m: 2em;
}

*,
:before,
:after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style:
}